body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/
main #caixa1{
    width: 775px;
    height: 595px;
    border: solid;
    margin: 25px 0px 25px 25px;
    float: left;
    background-color: aqua;
}
/*---------------------------------------------------*/
main #caixa2{
    width: 450px;
    height: 120px;
    border: solid;
    margin: 25px 25px 0px 0px;
    padding: 25px;
    float: right;
    background-color: rgb(116, 116, 116);
}
/*---------------------------------------------------*/
main #caixa3{
    width: 500px;
    height: 419px;
    border: solid;
    margin: 0px 25px 0px 0px;
    float: right;
    background-color: brown;
}