.base{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

body>div>div>div{
    margin: 20px;
}

.urna{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 80%;
    background-color: rgb(230, 225, 166);
}   

.tela{
    width: 60%;
    height: 458px;
    background-color: white;
}

.teclado{
    background-color: gray;
    width: 35%;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo>img{
    margin: 10px;
}

.titulo>h1{
    margin: 10px;
}

.teclado-numerico{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teclado-numerico>div{
    background-color: black;
}

.teclado-numerico>div>span{
    color: white;
    font-size: 16px;
}

.botao-numerico{
    width: 90px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 80px;
}

.teclado-de-acoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teclado-de-acoes>div{
    margin: 5px;
    width: 99px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao-branco{
    background-color: white;
    color: black;
}

.botao-corrige{
    background-color: orangered;
    color: black;
}

.botao-confirma{
    background-color: green;
    color: black;
}